body {
  font-family: 'Arial';
  font-size: 13px;
  color:#222222;
  line-height: 15px;
}

div {
  position: absolute;
  width:45em;
}

h1, p {
  margin:20px;
  font-family: 'Arial';
}

h1 {
  font-size: 22px;
  color:#000000;
  line-height: 28px;
}

p {
  font-size: 13px;
  color:#222222;
}
